* {
    box-sizing: border-box;
    font-family:'Calibri';
}

#container {
    display: flex;
    margin: auto;
    text-align: center;
    width: 760px;
}

body {
    background: #CCCCCC;
    font-family: 'Cantora One', sans-serif;
    max-height: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

h2.sectionHead {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: #000000;
}

.sidebox {
    background-color: #7400BA;
}

#stats {
    float: left;
    color: rgba(255, 255, 255, 1);
}

#stats .sidebox {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.menu {
    width: 120px;
    padding-top: 2em;
    position: relative;
}

.menu h3 {
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    text-shadow: none;
    font-size: 100%;
}

.menu h3:first-of-type {
    margin: 0;
}

#stats h1 {
    margin: 0 0 0 0;
}

#stats .diffSelect {
    color: #FFF;
}

#stats a:hover{
    color: #B233FF;
}

#middle {
    width: 520px;
    min-height: 580px;
    float: left;
    color: #FFF;
}

#quiz {
    background-color: #B233FF;
    min-height: 650px;
    padding: 10px;
    border-radius: 10px;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

#quiz a#giveAnswer {
    display: block;
}

#footer {
    color: #34495E;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: #B233FF;
    transition: all 0.3s ease;
}

.sidebar.close {
    width: 88px;
}

.sidebar header {
    position: relative;
}

.sidebar .imageText{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.sidebar .title {
    white-space: nowrap;
}

.sidebar .quizSelector{
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    transition: all 0.5 ease;
    opacity: 1;
    white-space: nowrap;
}

.sidebar.close .title {
    opacity: 0;
}

.sidebar.close .quizSelector {
    opacity: 0;
}

.quizTypes {
    font-size: 28px;
    right: 20px;
}

.sidebar header .toggle {
    position:absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    display: flex;
    background: #B233FF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#FFF;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li a:hover{
    color: #7400BA;
}

.sidebar ul{
    margin-top: -25px;
}